*{
    margin: 0;
    padding: 0;
    /*点击高亮,我们需要清除,清除设置为transparent 完成透明*/
    -webkit-tap-highlight-color: transparent ;
    /*Css3盒子模型*/
    box-sizing: border-box;
}

input{
    /*在移动端浏览器默认的外观在ios上加上这个属性才能给按钮和输入框自定义样式,清除按钮和输入框默认样式*/
    -webkit-appearance: none;
}

img,a {
    -webkit-touch-callout: none; 
}


body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    font-family: -apple-system,Helvetica, sans-serif;
    /* background-color: #ccc; */
    height: 2000px;
}

a{
    text-decoration: none;
    color: #333;
}

.app{
    overflow: hidden;
}

.app ul li{
    float: left;
    list-style: none;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #333;  
    color: #fff;
}

.app ul li:nth-child(1){
    width: 8%;
}

.app ul li:nth-child(1) img{
    display: inline-block;
    width: 10px;
}

.app ul li:nth-child(2){
    width: 10%;
}

.app ul li:nth-child(2) img{
    display: inline-block;
    width: 30px;
    vertical-align: middle;
}

.app ul li:nth-child(3){
    width: 57%;
}

.app ul li:nth-child(4){
    width: 25%;
    background-color: #F63515;
}

.search-wrap{
    position: fixed;
    height: 44px;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    overflow: hidden;
    z-index: 999;
}

.search-btn,
.search-login{
    position: absolute;
    top:0;
    width: 40px;
    height: 44px;
    /* background-color: pink; */
}

.search-btn{
    left: 0;  
}

.search-btn::after{
    content: '';
    display: block;
    width: 20px;
    height: 18px;
    background: url(../images/s-btn.png) no-repeat;
    background-size: 20px 18px;
    margin: 14px 0 0 15px;
}

.search-login{
    right: 0;
    line-height: 44px;
    color: #fff;
}

.search{
    position: relative;
    height: 30px;
    margin: 7px 50px;
    border-radius: 15px;
    background-color: #fff;
}

.search .jd-icon{
    position: absolute;
    width: 20px;
    height: 15px;
    top: 8px;
    left: 13px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}

.jd-icon::after{
    position: absolute;
    top:0;
    left: 28px;
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;
}

.sou{
    position: absolute;
    top: 8px;
    left: 50px;
    width: 18px;
    height: 15px;
    background: url(../images/jd-sprites.png) no-repeat -83px 0;
    background-size: 200px;
}

.search input{
    height: 30px;
    width: 100%;
    margin-left: 74px;
    font-size: 12px;
}

.brand div{
    float: left;
    width: 33.33% ;
}

.brand {
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
}

nav{
    overflow: hidden;
}

nav a{
    float: left;
    width: 20%;
    text-align: center;
}

nav a img{
    /* 先将图片宽度定死 */
    width: 40px;
    /* 图片居中 */
    margin: 10px auto;
}

/* news */
.news{
    margin-top: 20px;
}
.news a img {
    width: 100%;
}

.news a{
    float: left;
    border-left: 1px solid #ccc;
}
.news a:nth-child(1){
    width: 50%;
}
/* 第二个孩子以后的所有孩子，包括第二个 */
.news a:nth-child(n+2){
    width: 25%;
}

/* 复制swiper css样式 */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }